<?xml version="1.0"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="O2_FluentSharp_CoreLib" publicKeyToken="55a0f9bf4256d533" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.4.2.0" newVersion="4.4.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
		<compilation debug="true" targetFramework="4.0"/>
  </system.web>

	<system.webServer>
		<defaultDocument>
			<files>
				<add value="default.html" />
			</files>
		</defaultDocument>
		<modules runAllManagedModulesForAllRequests="true"></modules>
	</system.webServer>
</configuration>